@model Product

    <head>
        <style>
        body {
            background-color: darkred;
            color:ghostwhite;
        }
        </style>
    </head>

<h1>@Model.Name : @Model.Category</h1>
<b>SKU# @Model.ID</b>
<br />
<b>Description: @Model.Description</b>
<br />
<b>Price: @Model.Price</b>
<br />
